<header class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h1 class="">{{ site.title }}</h1>
    <p>
    <span class="reserved">let</span> nick: <span class="reserved">&</span>str = <span class="string">"{{ site.nick }}"</span>;
    </p>
    <p>
    println!(<a href="https://{{ site.source_code.server }}/{{ site.source_code.nick }}" target="_blank"><span class="string">"https://{{ site.source_code.server }}/<span class="reserved">{}</span>"</span></a>, nick);
    </p>
  </div>
</header>

{% include menu.html %}
